
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	color: #88c0d0;
	font-family: 'Roboto', sans-serif;
	background-color: #3b4252;
}

nav {
	white-space: nowrap;
	height: 7%;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	align-items: center;
	position: fixed;
	background-color: #4c566a;
	display: flex;
	transition: 50ms ease;
}

nav:hover {
	height: 10%;
}

ul {
	align-items: center;
	display: inline;
}

.mainlistElem {
	color: #A3BE8C;
	text-decoration: none;
}

.navbarElemLI {
	margin: 20%;
	display: inline-block;
}

.navbarElem {
	padding: 5%;
	border: 2px solid black;
	font-size: 200%;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: #bf616a;
}

h1 {
	margin: 1%;
	margin-top: 7%;
	font-size: 200%;
	color: #88c0d0;
}

h2 {
	color: #5e81ac;
	margin: 0%;
	font-size: 100%;
}

p {
	text-align: left;
	font-size: 50%;
	color: #b48ead;
}

.center {
	font-size: 300%;
	margin-top: 5%;
	text-align: center;
}

